/* Common CSS */
body{
    color: #666666;
    font-family: Georgia,  sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/* top header CSS */

.header-section{
    width: 100%;
    clear: both;
}
#top-header-section{
    background-color: #ba2e1f;
    padding: 15px 0;
    width: 100%;    
}
.inner-top-header{
    overflow: hidden;
}
.mini-menu-top{
    float: left;
    width: 70%;
    padding-top: 3px;
}
.mini-menu-top ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.mini-menu-top ul li{
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.mini-menu-top ul li:last-child:after{
    display: none;
}
.mini-menu-top ul li::after{
    background-color: #ffffff;
    content: "";
    position: absolute;
    top: 6px;
    right: -10px;
    height: 14px;
    width: 1px;
}
.mini-menu-top ul li a{
    color: #ffffff;
    display: block;
    font-size: 14px;
    text-decoration: none;    
}
.mini-menu-top ul li a:hover{
    color: #ddd;    
}
.search-bar{
    float: right;
    width: 30%;
}
.search-bar form{
    background-color: #ffffff;
    border-radius: 25px;
    float: right;
    padding: 2%;
    max-width: 210px;
    width: 96%;
}
.search-bar input{
    border: 0px solid;
    width: 75%;
    padding: 1%;
    float: left;
    color: #000;
}
.search-bar input[type="submit"]{
    width: 20%;
    background: url(img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}


/* main header CSS */
#main-header-section{
    width: 100%;
    clear: both;
}
.inner-header{
    padding: 40px 0;
    overflow: hidden;
}
.logo-section{
    float: left;
    width: 240px;
}
.social-icn{
    float: right;
    width: 100%;
    max-width: 500px;
    padding-top: 22px;
}
.social-icn ul{
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: right;
}
.social-icn ul li{
    display: inline-block;
    margin-left: 15px;
}
.social-icn ul li a i{
    background-color: #333333;
    border-radius: 50%;
    width: 35px;
    padding-top: 8px;
    color: #ffffff;
    height: 25px;
    text-align: center;
    display: block;
    transition: 0.5s;
}
.social-icn ul li a:hover i{
    background-color: #ba2e1f;
}
.social-icn ul li a:hover i.fa-linkedin-in{
    background-color: #008291;
}
.social-icn ul li a:hover i.fa-twitter{
    background-color: #41B7E5;
}
.social-icn ul li a:hover i.fa-pinterest{
    background-color: #DE2A32;
}
.social-icn ul li a:hover i.fa-google-plus-g{
    background-color: #D64134;
}
.social-icn ul li a:hover i.fa-rss{
    background-color: #ee882f;
}

/* main menu CSS */
#main-menu{
    width: 100%;
    clear: both;
}
.inner-menu{
    background-image: linear-gradient(rgb(32, 32, 32) 50%, rgb(0, 0, 0) 50%);
    padding: 15px 0;
    border-radius: 5px;
}
.inner-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.inner-menu ul li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.inner-menu ul li a{
    color: #ffffff;
    display: block;
    padding: 5px;
}
.inner-menu ul li a:hover{
    color: #ba2e1f;
}
.inner-menu ul li:hover a{
    color: #ba2e1f;
}
.inner-menu ul li:hover ul li a{
    color: #ffffff;
}

/* dropdown menu CSS */
.inner-menu ul ul{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 150px;
    left: -99999999999px;
    top: 30px;
}
.inner-menu ul li:hover ul{
    left: 0;
    transition: 0.2s;
}
.inner-menu ul li:hover ul ul{
    left: -999999999px;
}
.inner-menu ul ul ul{
    left: 150px;
    top: 0;
}
.inner-menu ul li ul li:hover ul{
    left: 150px;
    transition: 0.2s;
}
.inner-menu ul ul li{
    margin: 0;
    display: block;
}
.inner-menu ul ul li a:hover{
    background-color: rgb(32, 32, 32);
    color: #ffffff;
}
.inner-menu ul ul li:hover a{
    background-color: rgb(32, 32, 32);
    color: #ffffff;
}
.inner-menu ul ul li:hover ul li a{
    background: none;
    color: #ffffff;
}
.inner-menu ul ul li ul li a:hover{
    background: rgb(32, 32, 32);
    color: #ffffff;
}


